backend/__pycache__/
backend/routes/__pycache__/
backend/**/__pycache__/
backend/.vscode
backend/.idea
backend/.env
backend/googly-25c2b-firebase-adminsdk-fbsvc-248bab283b.json
backend/stoked-name-466517-b2-809d1e6b5d54.json

frontend/node_modules/
frontend/.vscode
frontend/.idea
frontend/.env
frontend/.next
frontend/next-env.d.ts

.vscode
.idea

.DS_Store
backend/creds

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
dist/
build/
